@page
@model BadRequestModel
@{
    ViewData["Title"] = "BadRequest";
}

<h1 class="text-danger">400 - Bad Request</h1>
<p>Sorry, the request was invalid or malformed. Please check the data you entered and try again.</p>

<a href="/" class="btn btn-primary">Return to Home</a>
