@page
@model BadGatewayModel
@{
    ViewData["Title"] = "502 - Bad Gateway";
}

<h1 class="text-danger">502 - Bad Gateway</h1>
<p>Sorry, we are experiencing some technical difficulties. Please try again later.</p>

<a href="/" class="btn btn-primary">Return to Home</a>
