@page
@model AceJobAgency.Pages.DisableAuthenticatorModel
@{
    ViewData["Title"] = "Disable Authenticator";
}

<h2>Disable Authenticator</h2>

<p>Disabling 2FA does not reset your authenticator app. To reset it, you will need to reconfigure 2FA.</p>

<form method="post">
    <button type="submit">Disable</button>
</form>